<div class="channel-container">
  <a href="#">programming</a>
  <a href="#">gaming</a>
  <a href="#">pubg</a>
  <a href="#">pro-evolution-soccer</a>
  <a href="#">javascript</a>
  <a href="#">nodejs</a>
  <a href="#">python</a>
  <a href="#">random</a>
</div>