<div id="img-share">
  <div class="form-wrapper">
    <div id="img-share-error-message"></div>
    <div class="image-preview" id="image-preview"></div>
    <input type="file" name="" id="image-input-field" accept="image/x-png,image/gif,image/jpeg">
    <div class="img-share-submit-cancel">
      <button id="image-submit-button">Send</button>
      <button id="cancel-image-share">Cancel</button>
    </div>
  </div>
</div>