<div id="verifyEmailModel" class="model hide">
  <div class="model-content-wrapper hide">
    <h2 class="title">Thank You!</h2>
    <div class="content">
      Thank you for Signing Up! In order to reduce the number of spam signup, we want to verify your email.
      You will find a verification link in your email!
    </div>
    <div class="action">
      <button class="close verifyEmailModel">Close</button>
    </div>
  </div>
</div>