<div id="chat">
  <span class="online-count">
    <i class="fas fa-circle" style="color: #00ff00"></i> <span id="online-count">0</span> Online
  </span>
  <span style="position: fixed; top: 65px; right: 3px; padding: 3px; box-shadow: 0 0 10px 0 lightgray; background: #ffffff77; z-index: 2000">
    <a style="color: #141414" href="/logout">Log Out</a>
  </span>
  <div class="">
    <span class="new-room" id="new-room"><i class="fas fa-person-booth"></i> room</span>
    <div id="room-card" class="room-card room-card-hide">
      <h1>New Room</h1>
      <input type="text" placeholder="Room Name">
      <button>Create</button>
      <br><br>
      <div><a style="color: pink" href="" id="room-url"></a></div>
      <br><br>
      TIP: Keep the above field blank to generate a secret room ;)
      <br><br>
      <button id="cancel-room-creation">Cancel</button>
    </div>
  </div>
  <div class="chat-window">
    <div class="hide-typing-status"> <span id="typers"></span> is typing</div>
    <div class="hide-scroll-bar" id="chat-window">
      <div id="old-messages">
        <div class="info">Loading Old Messages.... Please Wait!</div>
      </div>
    </div>
  </div>
  <div class="chat-box">
    <button class="image-share-button" id="image-share-button"><i class="fas fa-image"></i></button>
    <input type="text" autofocus name="" id="message-input" placeholder="Start Typing...">
    <button id="send-message">Send</button>
  </div>
</div>


{{> imgShareModel }}