<div id="emailVerification">
  <h1>Email Verification</h1>
  <div>
    {{message}} <br><br>
    <code style="background: #141414; color: #fff; padding: 3px 6px; border-radius: 4px; word-break: break-all">{{ token }}</code>
  </div>
</div>
<br /><br />
For any query, please contact <a href="mailto:abdus@abdus.net">abdus@abdus.net</a>

<div style="margin-top: 14rem">{{>footer}}</div>
