<div id="home">
  <div id="login" class="login show">
    <form action="">
      <div class="form-title">Welcome Back!</div>
      <div class="message-box hide"></div>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
      <div id="forgot-password">Forgot Password? </div>
      <div id="signup-instead">New Here? Create an Account</div>
    </form>
  </div>
  <div id="signup" class="signup">
    <form action="">
      <div class="form-title">Create a New Account</div>
      <div class="message-box hide"></div>
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign Up">
      <div id="login-instead">Already have an account? Login Instead</div>
    </form>
  </div>
  <div id="forgot-password-form" class="forgot-password-form">
    <form action="">
      <div class="form-title">Reset Password</div>
      <div class="message-box error-message">
        This feature is abandoned for now. I don't want to work on it for the time being.
        Filling this form and submitting won't work.
      </div>
      <input type="email" name="name" placeholder="Email" disabled>
      <input type="submit" value="Reset" disabled>
      <div id="back-to-login">Go Back to Login</div>
    </form>
  </div>
</div>
{{> footer}}
{{> verifyEmailModel }}