<div id="chat">
    <span class="online-count">
        <i class="fas fa-circle" style="color: #00ff00"></i> <span id="online-count">0</span> Online
    </span>
    <div class="chat-window">
        <div class="hide-typing-status"> <span id="typers"></span> is typing</div>
        <div class="hide-scroll-bar" id="chat-window"></div>
    </div>
    <div class="chat-box">
        <button class="image-share-button" id="image-share-button"><i class="fas fa-image"></i></button>
        <input type="text" autofocus name="" id="message-input" placeholder="Start Typing...">
        <button id="send-message">Send</button>
    </div>
</div>

<div id="model">
    <form>
        <h1>Welcome</h1>
        <h3>This Chat Room is Completely Anonymous. We Don't Even Save Your Chat History.</h3>
        <h3>Enter Your Name</h3>
        <div style="margin-bottom: 15px;">(Not changeable unless you know where I am storing it :) )</div>
        <input type="text" value="" placeholder="Enter Your Name" id="user-name">
        <input type="submit" value="submit" id="user-submit">
        <br>
        <br>
        <br>
        <a href="https://responsivevoice.org/">https://responsivevoice.org/</a>
    </form>
</div>

{{> imgShareModel}}